body {
  font-family: $font-family-base;
  color: $gray-lighter;
}

a {
  color: $yellow;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p,
ul,
li {
  font-size: 2rem;
  line-height: 2.5rem;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left-sm {
  @media (max-width: $screen-sm) {
    text-align: left;
  }
}