$font-family-base: 'Menlo', 'Monaco', 'Courier New' , 'monospace';
$font-family-body: 'Titillium Web', sans-serif;
$gray-lighter: #d9d9d9;
$gray-light: #9f9e9a;
$gray-medium: #757575;
$gray-dark: #212121;
$yellow: #FFC107;
$dark-blue: #2196F3;
$light-blue: #569cd6;
$teal: #009688;
$highlight-color: #32464e;

$screen-lg: 1280px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 480px;