$font-family-base: 'Menlo', 'Monaco', 'Courier New' , 'monospace';
$gray-lighter: #d9d9d9;
$gray-light: #9f9e9a;
$gray-medium: #757575;
$gray-dark: #212121;
$yellow: #ffc13b;
$dark-blue: #757575;
$light-blue: #00bdd3;