@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import './variables';
@import './scaffolding';
@import './type';

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

::selection {
  background: #32464e;
}

body {
  background: $gray-dark;
  margin: 0;
  padding: 0;
}

.hidden-xs {
  @media (max-width: $screen-xs) {
    display: none;
  }
}

.visible-xs-block {
  display: none!important;
  @media (max-width: $screen-xs) {
    display: block!important;
  }
}

.visible-xs-flex {
  display: none!important;
  @media (max-width: $screen-xs) {
    display: flex!important;
  }
}