@import url(~flexboxgrid/css/flexboxgrid.css);
body {
  font-family: "Menlo", "Monaco", "Courier New", "monospace";
  color: #d9d9d9; }

a {
  color: #ffc13b;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

p,
ul,
li {
  font-size: 2rem;
  line-height: 2.5rem; }

*, ::after, ::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

::selection {
  background: #32464e; }

body {
  background: #212121;
  margin: 0;
  padding: 0; }
