@import '../styles/sass/variables';

header.main-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  border-bottom: 1px solid $gray-medium;
  min-height: 8vh;
  background: $gray-dark;
  z-index: 200;
  @media (max-width: $screen-sm) {
    min-height: 6vh;
  }
  @media (max-width: $screen-xs) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 13vh;
    flex-direction: column;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo {
    p.subtitle {
      font-size: 1.5rem;
      margin-top: .5rem;
      color: $gray-light;
    }
    span.logo,
    p {
      font-size: 1.7rem;
      line-height: 1.7rem;
      margin: 0;
    }
    span.logo {
      color: $yellow;
    }
  }
  .header-mail-link {
    color: $gray-light;
    @media (max-width: $screen-sm) {
      display: none;
    }
  }
}

.header-navbar-list {
  display: flex;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin-left: 4rem;
    @media (max-width: $screen-sm) {
      font-size: 1.7rem;
      margin-left: 3rem;
    }
  }
}

.mobile-menu-toggle {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0 .7rem;
}

.mobile-nav {
  position: fixed;
  top: 13vh;
  left: 0;
  right: 0;
  background: $gray-dark;
  list-style: none;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform ease-out 100ms;
  .open & {
    transition: transform ease-in 200ms;
    transform: translateY(0)
  }
  li {
    a {
      display: block;
      font-size: 1.7rem;
      padding: 2rem 15px;
      border-bottom: 1px solid $gray-medium;
    }
  }
}